
<form method="post" action="{{ path('corps_crud_delete', {'id': corps.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce corps?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ corps.id) }}">
    <button class="btn btn-danger">
        <i class="fa fa-trash"></i>
        Supprimer
    </button>
</form>