{% extends 'base.html.twig' %}

{% block title %}Edit Corps{% endblock %}

{% block body %}
    <h1>Edit Corps</h1>

    {{ include('corps_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('corps_crud_index') }}">back to list</a>

    {{ include('corps_crud/_delete_form.html.twig') }}
{% endblock %}
