<form method="post" action="{{ path('indice_crud_delete', {'id': indice.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ indice.id) }}">
    <button class="btn">Delete</button>
</form>
