{% extends 'nav.html.twig' %}

{% block title %}Edit Indice{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('indice_crud_index') }}">Liste des indices</a></li>
            <li class="breadcrumb-item"><a href="{{ path('indice_crud_show', {'id': indice.id}) }}">{{ indice.indice }}</a></li>
            <li class="breadcrumb-item active">Modifier</li>
        </ol>
    </nav>


    <div class="d-flex justify-content-start">
        {{ include('indice_crud/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

{% endblock %}
