


{% extends 'nav.html.twig' %}

{% block title %}Creer une unite{% endblock %}



{% block content %}


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('unite_index') }}">Liste des unites</a></li>
            <li class="breadcrumb-item active">Nouveau</li>
        </ol>
    </nav>


    {{ include('unite/_form.html.twig') }}




{% endblock %}

{% block botton_javascripts %}
{% endblock %}