<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('/assets/img/favicon.ico') }}" />



        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}


    </head>

    <body>


        <main id="swup">

            {% if fullscreen is defined %}

                {% block body %}

                {% endblock %}

            {% else %}

                <div class="container-fluid">

                    <div class="row flex-nowrap">


                        {% include '_nav.html.twig' %}

                        <div class="col py-3">


                           {% include '_navBar.html.twig' %}

                            {% block content %}


                            {% endblock %}



                        </div>
                    </div>


                </div>
                </div>


            {% endif %}

        </main>

    </body>
</html>
